header {
  background-color: rgb(22, 33, 89);
  padding-top: 1rem;
}

.search {
  border-width: 1px;
  border-color: rgb(22, 33, 89);
  height: 2rem;
  width: 10rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#location {
  background-color: rgb(236, 236, 237);
  margin-left: 7rem;
  width: min-content;
  border-radius: 30% 0% 0% 30%;
}

#magnifier {
  background-color: rgb(236, 236, 237);
  border-radius: 0 30% 30% 0%;
  width: min-content;
}

.clock {
  margin-left: 2rem;
  height: 2rem;
  color: rgb(236, 236, 237);
}

.calendar {
  margin-left: 1.5rem;
}

.date {
  text-align: right;
  align-self: flex-end;
  max-height: 2rem;
  min-width: max-content;
  color: rgb(236, 236, 237);
  margin-right: 8rem;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}
/* Current weather section */
.current-weather {
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.current-city {
  margin-left: 0rem;
}
#current-weather-description {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.feels-like,
#max-min {
  margin-left: 0.5rem;
  line-height: 1.1rem;
  font-size: 0.8rem;
}

.icon {
  padding-top: 1rem;
}

.units {
  text-align: right;
  font-size: 0.8rem;
}
#c,
#f {
  text-decoration: none;
  color: black;
  align-self: right;
}
.heading {
  text-align: right;
  margin-right: 0rem;
  padding-left: 0;
  padding-right: 2rem;
  line-height: 2.1rem;
  font-size: 2.1rem;
}

.current-conditions {
  font-weight: 400;
  text-align: right;
  margin-left: 1rem;
  line-height: 1.1rem;
  font-size: 0.8rem;
}

/* forecast section */
.forecast {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.8rem;
}
.day {
  font-weight: 400;
  font-weight: bold;
}
.weather-desc {
  padding-left: 0.5rem;
}
.feels {
  padding-left: 0.5rem;
}
.icon-weekday {
  padding-top: 1rem;
  width: 4rem;
}
.weather-condition {
  font-size: 0.9rem;
  padding: 1rem 0 0 0;
  text-align: right;
}

.first {
  background-color: rgba(22, 33, 89, 0.242);
}
.second {
  background-color: rgba(22, 33, 89, 0.112);
}
