header {
  background-color: rgb(97, 97, 99);
  padding-top: 1rem;
}

.search {
  border-width: 1px;
  border-color: rgba(72, 72, 74, 0.5);
  height: 2rem;
  width: 10rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
#location {
  background-color: rgb(236, 236, 237);
  margin-left: 1.5rem;
  width: min-content;
  border-radius: 30% 0% 0% 30%;
}

#magnifier {
  background-color: rgb(236, 236, 237);
  border-radius: 0 30% 30% 0%;
  width: min-content;
}
.date {
  text-align: right;

  align-self: flex-end;
  width: max-content;
  color: rgb(236, 236, 237);
  margin-right: 0.5rem;
  margin-left: 3rem;
  margin-bottom: 0;
}
